
spring:
  application:
    name: "bank-cards-service"

  # Postgres
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: user
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

#jwt:

#  private-key: classpath:${JWT_PRIVATE_KEY:jwt/app.key}
#  public-key: classpath:${JWT_PUBLIC_KEY:jwt/app.pub}
#  ttl: ${JWT_TTL:120m}
server:
  port: 8080



logging:
  level:
    org:
      springframework:
        security: debug
        web: debug
